<div class="banner">
  <div class="container">
  	<div class="row justify-content-center">
		<div class="col-md-8">
  	<h4 class="hi">Salut, mon nom est</h4>
    <h1>Jean-Rodriguez Kinouani.</h1>
    <h1 class="sub">Je développe des sites web</h1>
    <p>Je suis un développeur fullstack <strong>Ruby On Rails</strong> avec un côté business.<br/> A l'occassion je code des sides projects.</p>
  </div>
</div>
</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<section>
			<div class="row">
				<h3 id="scrollspyHeading1"><strong>01. </strong>A propos de moi</h3>
				<div class="col-md-8">
					<p>J'ai démarré ma carrière de développeur en autodidacte, puis je me suis formé en continue. Je suis passé par Simplon, THP et récemment Lewagon pour acquérir les bonnes pratiques du code.
					</p>
					<p>Je souhaite mettre mes compétences techniques et managériales au profit d'une entreprise ambitieuse. J'aime le code, développé des outils qui résolvent des problèmes et aider des business à grandir.
					</p>
					<p>j'ai récémment codé une fintech pour les salariés de startups.</p>
				</div>
				<div class="col-md-4">
					 <%= image_tag "img/portrait.jpg", class: 'img-fluid' %>
				</div>
			</div>
				<ul class="list-group">
					<div class="row">
						<p>Voici les technos avec lesquels je travaille :</p>
						<div class="col-md-3">
					  <li class="list-group-item"> <strong># </strong>Ruby on rails </li>
					  <li class="list-group-item"><strong># </strong>Html/Css</li>
					  <li class="list-group-item"><strong># </strong>Github</li>
					  <li class="list-group-item"><strong># </strong>Stimulus js</li>
						</div>
						<div class="col-md-3">
					  <li class="list-group-item"><strong># </strong>Javascript</li>
					  <li class="list-group-item"><strong># </strong>SQL</li>
					  <li class="list-group-item"><strong># </strong>	Heroku</li>
						<li class="list-group-item"><strong># </strong>	Rspec</li>
						</div>
					</div>
				</ul>
			</section>
    </div>
  </div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
	<div class="col-md-8">
	<h3 id="scrollspyHeading2"><strong> 02. </strong>Expériences & formations</h3>
	<div class="d-flex align-items-start">
	  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Lewagon
	    </button>
	    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Freelance</button>
	    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Freelance</button>
	    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fewhourz</button>
	    <button class="nav-link" id="v-pills-content-tab" data-bs-toggle="pill" data-bs-target="#v-pills-content" type="button" role="tab" aria-controls="v-pills-content" aria-selected="false">Simplon</button>
	  </div>
	  <div class="tab-content" id="v-pills-tabContent">
	    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0"><h3>Formation Lewagon Paris</h3>
	    	<h5>Juillet 2022 - Sept 2022</h5>
	    	<p><strong># </strong>Développement d'une fintech pour salariés </p>
	    	<p><strong># </strong>Ruby on rails - Javascript - Stimulus js </p>
	    </div>
	    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
	    	<h3>Développeur fullstack</h3>
	    	<h5> 2020 - 2020</h5>
	    	<p><strong># </strong>Développement d'un site pour aider à la récupération de points de conduire.</p>
	    </div>
	    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
	    	<h3>Développeur fullstack</h3>
	    	<h5> Jan 2018 - Avril 2018</h5>
	    	<p><strong># </strong>Développement d'un site de location de livres entre élèves d'un collègue privé.</p>
	    </div>
	    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
	    	<h3>CEO</h3>
	    	<h5> Jan 2015 - Avril 2018</h5>
	    	<p><strong># </strong>Création d'un site de location de piscines entre particuliers pour quelques heures.</p>
	    </div>
	     <div class="tab-pane fade" id="v-pills-content" role="tabpanel" aria-labelledby="v-pills-content-tab" tabindex="0">
	    	<h3>Formation Simplon </h3>
	    	<h5> Jan 2014 - Juin 2014</h5>
	    	<p><strong># </strong>Simplon, l’école inclusive qui forme aux métiers du numérique dans toute la France et à l’international.</p>
	    	<p><strong># </strong>Ruby on rails - Heroku - Github </p>
	    </div>
	  </div>
	</div>
	</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-4">
		<h3 id="scrollspyHeading3"><strong> 03. </strong>Quelques projets</h3>
			<%= image_tag "img/homepage_tontineo.png", class:'img-fluid capt' %>
		</div>
		<div class="col-md-4">
			<div class="project-description">
				<h5>Tontineo</h5>
				Tontineo est un site web qui permet de financer ses projets avec l'aide de ses collègues. C'est le système de la tontine appliqué aux salariés d'entreprise. <br/>
				<br/><h5>Ruby on Rails - Stimulus js - Javascript  <br/><a href="https://github.com/jrkinouani/tontineo" target="blank"><i class="fa-brands fa-github"></i></a> <a href="https://www.tontineo.com/" target="blank"><i class="fa-solid fa-link"></i></a></h5>
			</div>
	  </div>
	</div>
</div>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="project-description">
				<h5>Fewhourz</h5>
				Fewhourz est un site de location de piscines entre particuliers pour quelques heures.
				 <br/>
				<br/><h5>Ruby on Rails - Javascript </h5>
			</div>
		</div>
		<div class="col-md-4">
			<%= image_tag "img/homepage_fewhourz.png", class:'img-fluid capt' %>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<h4 class="text-center">Autres projets</h4>
		<div class="col-md-8">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Année</th>
			      <th scope="col">nom</th>
			      <th scope="col">Stack</th>
			      <th scope="col">link</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">2019</th>
			    <td><h6>Swim </h6></td>
			    <td><h6> Ruby on Rails - Javascript - Stripe - heroku </h6></td>
			    <td><a href="https://github.com/jrkinouani/swim" target="blank"><i class="fa-brands fa-github"></i></a></td>
			    </tr>
			    <tr>
			      <th scope="row">2019</th>
			      <td>Bibliorun</td>
			      <td>Ruby on Rails - Javascript - Amazon s3 </td>
			      <td><a href="https://github.com/jrkinouani/bibliodina" target="blank"><i class="fa-brands fa-github"></i></a></td>
			    </tr>
			    <tr>
			      <th scope="row">2019</th>
			      <td><h6>Permis</h6></td>
			      <td>Ruby on Rails - Javascript - Amazon s3</td>
			      <td><a href="https://github.com/jrkinouani/permis" target="blank"><i class="fa-brands fa-github"></i></a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-4 text-center">
		<h3 ><strong> 04. </strong>Contact</h3>
			<h5>Toujours à la recherche d'opportunité, ma boîte mail est ouverte pour toutes questions ou prise de contact.</h5>
			<a  id="scrollspyHeading4" class="btn btn-ghost"href="mailto:Kinouani@gmail.com">Envoyer Email</a>
		</div>
	</div>
</div>
