<div class="banner">
  <div class="container">
  	<div class="row justify-content-center">
		<div class="col-md-8">
  	<h4 class="hi">Salut, mon nom est</h4>
    <h1>Jean-rodriguez Kinouani.</h1>
    <h1 class="sub">Je développe des sites web</h1>
    <p>Je suis un développeur fullstack <strong>Ruby On Rails</strong> avec un côté business.<br/> A l'occassion je code des sides projects.</p>
  </div>
</div>
</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<section>
			<div class="row">
				<h3><strong>01. </strong>A propos de moi</h3>
				<div class="col-md-8">
					<p>J'ai démarré ma carrière de de développeur en autodidacte, puis je me suis formé en continue. Je suis passé par Simplon, THP et récamment Lewagon pour acquérir les bonnes pratiques du code.
					</p>
					<p>Je souhaite mettre mes compétences techniques et managériales au profit d'une entreprise ambitieuse. J'aime le code, développé des outils qui résolvent des problèmes et aider des business à grandir.
					</p>

					<p>j'ai récémment codé une fintech pour les salariés de startups qui veulent finacer leur projets de voyages ou autres.</p>
				</div>
				<div class="col-md-4">
					 <%= image_tag "img/portrait.jpg", class: 'img-fluid' %>
				</div>
			</div>
				<ul class="list-group">
					<div class="row">
						<p>Voic les technos avec lesquels je travaille :</p>
						<div class="col-md-2">
					  <li class="list-group-item"> <strong># </strong>Ruby on rails </li>
					  <li class="list-group-item"><strong># </strong>Html/Css</li>
					  <li class="list-group-item"><strong># </strong>Github</li>
					  <li class="list-group-item"><strong># </strong>Stimulus js</li>
						</div>
						<div class="col-md-2">
					  <li class="list-group-item"><strong># </strong>Javascript</li>
					  <li class="list-group-item"><strong># </strong>SQL</li>
					  <li class="list-group-item"><strong># </strong>	Heroku</li>
							
						</div>
					</div>
				</ul>
			</section>
    </div>
  </div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
	<h3>  <strong> 02. </strong>Expériences</h3>
	<div class="d-flex align-items-start">
	  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
	    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
	    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
	    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
	    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
	  </div>
	  <div class="tab-content" id="v-pills-tabContent">
	    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at Upstatement.	I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at Upstatement.I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at Upstatement.</div>
	    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at Upstatement.	</div>
	    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
	    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
	    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
	  </div>
	</div>
		</div>
	</div>
</div>

<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-4">
			<h3><strong> 03. </strong>Quelques projets</h3>
				<%= image_tag "img/homepage_tontineo.png", class:'img-fluid capt' %>
			</div>
				<div class="col-md-4">
					<div class="project-description">
						<h5>Tontineo</h5>
						Tontineo est un site web qui permet de financer ses projets avec l'aide ses collègues. C'est le système de la tontine appliqué aux salariés. <br/>
						<br/><h5>Ruby on Rails - Stimulus js - Javascript  <br/><a href="https://github.com/jrkinouani/tontineo" target="blank"><i class="fa-brands fa-github"></i></a> <a href="https://www.tontineo.com/" target="blank"><i class="fa-solid fa-link"></i></a></h5>
					</div>
		    </div>
	</div>
</div>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-4">
				<div class="project-description">
					<h5>Fewhourz</h5>
					Fewhourz est un site de location de piscines entre particuliers pour quelques heures.
					 <br/>
					<br/><h5>Ruby on Rails - Javascript </h5>
				</div>
		</div>
		<div class="col-md-4">
			<%= image_tag "img/homepage_fewhourz.png", class:'img-fluid capt' %>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<h4></h4>
		<div class="col-md-6">
			
		</div>
		
		<div class="col-md-6">
			
		</div>
	</div>
</div>


