.btn-perso {
  background-color: #0f57db;
  border: 2px solid #0f57db;
  color: #FFFFFF;
  padding: 6px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

.btn-perso:hover {
  border-radius: 10px;
  border: 2px solid #0f57db;
  color: #000;
  background-color: #f9efe4;
}
