<div class="footer stickyFooter mt-5">
  <div class="footer-links">
    <a href="https://github.com/jrkinouani" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/jrkinouani" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Codé avec <i class="fas fa-heart"></i> par <a href="https://twitter.com/jrkinouani" target="blank">Jrkinouani</a>
  </div>
</div>
