<div class="footer mt-5">
  <div class="text-center">
    <div class="footer-copyright">
      Codé avec <i class="fas fa-heart"></i> par <a href="https://twitter.com/jrkinouani" target="blank"><b>Jrkinouani</b></a>
    </div>
  </div>
</div>
