<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/jrkinouani" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#scrollspyHeading1">
              <strong> 01. </strong> A propos </a>
          </li>
          <%# <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">
              <strong> 02.  </strong>Expériences</a>
          </li> %>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3"><strong>  02.</strong> Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4"><strong>03. </strong> Contact</a>
          </li>
          <li class="nav-item mt-2">
            <a href="https://github.com/jrkinouani" target="blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a href="https://www.linkedin.com/in/jean-rodriguez-kinouani/" target="blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
